.projects {
    margin: 2rem;
}
.topProjects {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .projects {
        margin: 3rem;
    }
    .topProjects {
        text-align: left;
    }
}

@media only screen and (min-width: 1000px) {
    .projects {
        margin: 4rem;
    }
    .topProjects {
        text-align: left;
    }
}