mark {
    background-color: #A7C2FF;
    color: black;
}

.experienceItem {
    border-bottom: 1px solid #A7C2FF;
    margin: 1rem;
}

@media only screen and (min-width: 768px) {
    .experienceItem {
        margin: 2rem;
    } 
}

@media only screen and (min-width: 1000px) {
    .experienceItem {
        margin: 3rem;
    } 
}