mark {
    background-color: #A7C2FF;
    color: black;
}

.projectItem {
    border-bottom: 1px solid #A7C2FF;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
    .projectItem {
        margin-left: 2rem;
        margin-right: 2rem;
    } 
}

@media only screen and (min-width: 1000px) {
    .projectItem {
        margin-left: 3rem;
        margin-right: 3rem;
    } 
}