.section {
    transition: 0.5s;
}
.section:hover {
    cursor: pointer;
    transform: translateY(-25px);
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #A7C2FF;
} 

