mark {
    background-color: #A7C2FF;
    color: black;
}

.about {
    margin: 2rem;
} 

.aboutImage {
    display: none;
}

.topAbout {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .about {
        margin: 3rem;
    }
    .aboutContent {
        display: flex;
    }
    .aboutImage {
        display: inline-block;
        min-width: 30%;
    }
    .topAbout {
        text-align: left;
    }
}

@media only screen and (min-width: 1000px) {
    .about {
        margin: 4rem;
        margin-bottom: 0;
    }
}
