.experience {
    margin: 2rem;
}

.topExperience {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .experience {
        margin: 3rem;
    }
    .topExperience {
        text-align: left;
    }
}

@media only screen and (min-width: 1000px) {
    .experience {
        margin: 4rem;
    }
    .topExperience {
        text-align: left;
    }
}